@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <link rel="stylesheet" href="https://image.gutx.org/5295/1335/1073667257.f911a8f9c43952147901eddccef68dd5.jpg" style="height: 500px;">

    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon ">
                <br /> <br /> <br />
                <h2 class="  as">ETÜ FAKÜLTELER İLETİŞİM BİLGİLERİ </h2>
                <address><h3>
                    Ömer Nasuhi Bilmen Mahallesi <br />
                    Erzurum Havaalanı Yolu Caddesi<br />
                    D:No:53 Yakutiye/Erzurum <br />
                    Posta Kodu= 25050 <br /><br />
                    <abbr title="Phone">Telefon :</abbr>
                    444 5 388
                    </h3>
                </address>


                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>

            </div>
        </div>
    </section>
</body>


